<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <body>
    <header>
      {{template "nav"}}
    </header>
    <main id="content" hx-swap="innerHtml">
      <h1>Hello World!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsum
        voluptatibus nihil ut ipsam in maxime saepe veniam magni ex mollitia
        modi, quos illo velit quod autem voluptates adipisci harum!
      </p>
    </main>
  </body>
</html>
