{{define "nav"}}

<div>
  <style>
    nav {
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }

    nav div {
      width: 55%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    ul {
      display: flex;
      gap: 10px;

      list-style: none;

      padding: 0;
      margin: 0;
    }

    li {
      margin: 0 20px 0 0px;

      align-content: center;
      color: var(--primary-color);
    }

    a {
      text-decoration: none;
      color: #333;
    }

    .login a {
      color: blue;
      font-weight: bold;
    }
  </style>
  <nav>
    <div>
      <ul>
        <li><h1>Go Book</h1></li>
        <li>
          <button hx-get="/pages/greeting" hx-target="#content">Home</button>
        </li>
        <li><button 
          hx-get="/pages/posts"
          hx-target="#content">About</button></li>
        <li><button>Contact</button></li>
      </ul>
      <ul>
        <li class="login">
          <button
            class="btn-primary"
            hx-get="/pages/login"
            hx-target="#content"
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{ end }}
